/* j'ai changé la coleur de background en blue et le padding haut et bas */
header{
  background-color:#000;
  padding:15px 0;
}
/*j'ai surchargé le style de boutton celle de bootstrap en changeant la couleur du text le background(hérité de son parent) ainsi la couleur de bordure*/
.btn-primary {
    color: #fff;
    background-color: inherit;
    border-color: inherit;
}

/**/
.fb{
  color: #fff;
  font-weight:bold;
  font-size:24px;
}


/*j'ai ajouté une nouvelle classe afin de remplacer la couleur bleu celle de bootstrap par la couleur vert */
.btn-ins{
  background-color: #69a74e;
color:#fff;
text-align:center;
padding:10px;
border-radius: 10px;}

/*j'ai définit le style de la barre de recherche:largeur responsive longueur de 28px les points de la bordure sont ronds...*/
.search {
display: block;
width: 80%;
height: 28px;
border-radius: 7px;
margin-top: 13px;
margin-left: 200px;
}
body{background-color: #fff}
/*Surcharge de la class container-fluid. j'ai changé le padding left et droite à 0*/
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 30%;
    margin: auto;
}
.row-block{

    margin-top: 50px;
}
h3,h4{font-weight:bold;
font-size:1.7em;}
fieldset{margin-top:30px;}
legend {color:#69a74e; }
table tr th {width:200px}
#panier img{float:left;
margin-right:30px;}
